#headline-div{
    background-color: honeydew;
    margin-bottom: 40px;
    padding: 40px;
    border: 2px solid red;
}


.big-box, .little-box {
width:100px;
height:100px;
}


.big-box {
background-color: green;
padding-right: 100px;
padding-bottom: 100px;
}


.little-box {
background-color:red;
}
    