#headline-div{
    background-color: honeydew;
    margin: 50px;
    padding: 40px;
    border: 2px solid red;
}


.big-box, .little-box {
width:100px;
height:100px;
}


.big-box {
background-color: green;
padding-top: 150px;
padding-bottom: 150px;
}


.little-box {
background-color:red;
border: 10px solid black;
}
    